BODY
{
    FONT: 11px/15px verdana;
    MARGIN: 0px
}
IMG
{
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
H1
{
    FONT: 18px verdana;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
H4
{
    FONT: bold 11px verdana;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
H5
{
    FONT: 11px verdana;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
P
{
    MARGIN: 0px;
    PADDING-BOTTOM: 4px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 5px;
    PADDING-TOP: 0px
}
TABLE
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TD
{
    FONT: 11px/15px verdana;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
TH
{
    FONT: 11px verdana;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
INPUT
{
    WIDTH: auto
}
FORM
{
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}
.navlink, .navlink:visited, .navlink:active
{
    COLOR: #000;
    TEXT-DECORATION: none
}

.navlinkselected, navlinkselected:visited
{
    COLOR: #c00;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}

A.navlink:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none
}

.link
{
    COLOR: red;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none
}
A.link:hover
{
    COLOR: #f00;
    TEXT-DECORATION: none
}
A.link:visited
{
    COLOR: #c00;
    TEXT-DECORATION: none
}
.content
{
    BACKGROUND-COLOR: white;
    MARGIN: 10px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.contentheader
{
    BACKGROUND-COLOR: #fff;
    BORDER-BOTTOM: #999 1px solid;
    BORDER-TOP: #999 1px solid;
    MARGIN: 10px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.contentimg
{
    MARGIN: 5px 10px 5px 5px
}
.contentfooter
{
    BACKGROUND-COLOR: #fff;
    BORDER-TOP: #999 1px solid;
    MARGIN: 10px 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
#logo
{
    MARGIN: 0px;
    PADDING-RIGHT: 0px;
    WIDTH: 100%;
    Z-INDEX: 3
}
#affliatename
{
    BORDER-LEFT: #999 1px solid;
    HEIGHT: 16px;
    LEFT: 120px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 10px;
    POSITION: absolute;
    TOP: 5px;
    Z-INDEX: 3
}
#decoration
{
    BORDER-TOP: #999 1px solid;
    HEIGHT: 23px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%;
    Z-INDEX: 3
}
#purpleband
{
    MARGIN-TOP: -5px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%;
    Z-INDEX: 3
}
#alphanav
{
    BORDER-TOP: #000 1px solid;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 100%;
    Z-INDEX: 3
}
#search
{
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    RIGHT: 10px;
    TOP: 10px;
    WIDTH: auto;
    Z-INDEX: 1
}
.navbackground
{
    BACKGROUND-COLOR: #c0c3e3;
    BORDER-LEFT: #fff 1px solid;
    HEIGHT: 15px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 0px
}
.navbackgroundHilite
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-LEFT: #fff 1px solid;
    HEIGHT: 15px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    PADDING-TOP: 0px
}
.leftnavbar
{
    BACKGROUND-COLOR: #fff;
    BORDER-BOTTOM: #999 1px solid;
    BORDER-LEFT: #999 1px solid;
    BORDER-RIGHT: #999 1px solid;
    LEFT: 5px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 61px;
    WIDTH: 165px;
    Z-INDEX: 4
}
.level1
{
    BORDER-TOP: #e4e4e4 1px solid;
    MARGIN: 0px 1px;
    PADDING-LEFT: 2px
}
.level2
{
    BORDER-TOP: #e4e4e4 1px solid;
	BACKGROUND-COLOR: #F3F3F3;
    MARGIN: 0px 1px;
    PADDING-LEFT: 10px;
}
.level3
{
    BORDER-TOP: #e4e4e4 1px solid;
    MARGIN: 0px 1px;
    PADDING-LEFT: 20px;
}
#left1
{
    BORDER-BOTTOM: #999 1px solid;
    BORDER-LEFT: #999 1px solid;
    BORDER-RIGHT: #999 1px solid;
    BORDER-TOP: #999 1px solid;
    LEFT: 10px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 105px;
    WIDTH: 150px;
    Z-INDEX: 2
}
.navheaderleft
{
    BACKGROUND-COLOR: #c0c3e3;
    COLOR: #000;
    MARGIN: 0px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 2px
}
#right1
{
    BORDER-BOTTOM: #999 1px solid;
    BORDER-LEFT: #999 1px solid;
    BORDER-RIGHT: #999 1px solid;
    BORDER-TOP: #999 1px solid;
    MARGIN: 0px 0px 0px 4px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    WIDTH: 150px;
    Z-INDEX: 2
}
.navheaderright
{
    BACKGROUND-COLOR: #6169ba;
    COLOR: #fff;
    MARGIN: 0px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 2px
}
#inputname
{
    MARGIN: 2px 4px 4px;
    WIDTH: 90px
}
#name
{
    BACKGROUND-COLOR: #c0c3e3;
    WIDTH: 148px
}
.homecontent
{
    BACKGROUND-COLOR: white;
    MARGIN: 10px 180px 0px 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.homecontentheader
{
    BACKGROUND-COLOR: #fff;
    BORDER-BOTTOM: #999 1px solid;
    BORDER-TOP: #999 1px solid;
    MARGIN: 10px 180px 10px 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.homecontentimg
{
    MARGIN: 5px 10px 5px 5px
}
.homecontentfooter
{
    BACKGROUND-COLOR: #fff;
    BORDER-TOP: #999 1px solid;
    MARGIN: 0px 180px 0px 20px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.tablebluerow
{
    BACKGROUND-COLOR: #ebecf7
}
.imgspacing
{
    MARGIN: 0px 5px
}
DIV.contenttable TABLE
{
    MARGIN-LEFT: 0px
}
DIV.contenttable TH
{
    BACKGROUND-COLOR: #6169ba;
    BORDER-BOTTOM: #000 1px solid;
    COLOR: #fff;
    FONT: 11px verdana;
    MARGIN: 0px
}
DIV.contenttable TD
{
    FONT: 11px/15px verdana;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px
}
TABLE.inputtable
{
    MARGIN-LEFT: 5%;
    MARGIN-RIGHT: 20%
}
.listfooter
{
    BACKGROUND-COLOR: #fff;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 2px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.contentlist
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #999 1px solid;
    MARGIN: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 10px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.contentlistblue
{
    BACKGROUND-COLOR: #ebecf7;
    BORDER-BOTTOM: #999 1px solid;
    MARGIN: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 10px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.Contenttable
{
    BACKGROUND-COLOR: white;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
.contentform
{
    BACKGROUND-COLOR: #ebecf7;
    BORDER-BOTTOM: #999 1px solid;
    BORDER-LEFT: #999 1px solid;
    BORDER-RIGHT: #999 1px solid;
    BORDER-TOP: #999 1px solid;
    MARGIN: 10px 180px;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
    WIDTH: auto;
    Z-INDEX: 3;
    min-width: 60px
}
DIV.dividedcontenttable TD
{
    FONT: 11px/15px vardana;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px
}
DIV.dividedcontenttable TABLE
{
    MARGIN-LEFT: 0px
}
DIV.dividedcontenttable TH
{
    BACKGROUND-COLOR: #6169ba;
    BORDER-BOTTOM: #000 1px solid;
    COLOR: #fff;
    FONT: 11px vardana;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
.mrr_resources
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 9px;
    WIDTH: auto
}
.sb_header
{
    COLOR: #cc0000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 5px;
    PADDING-TOP: 5px
}
.bluebutton
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #ccccff 1px solid;
    BORDER-LEFT: #ccccff 1px solid;
    BORDER-RIGHT: #ccccff 1px solid;
    BORDER-TOP: #ccccff 1px solid;
    COLOR: #cc0000;
    CURSOR: hand;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px
}
.bcards
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bolder
}
.bcards2
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10px
}
.tablebluerows
{
    BACKGROUND-COLOR: #ebecf7;
    CURSOR: hand
}
.tablewhiterows
{
    BACKGROUND-COLOR: #ffffff;
    CURSOR: hand
}
.tableheaders
{
    BACKGROUND-COLOR: #6169ba;
    BORDER-BOTTOM: #000 1px solid;
    COLOR: #fff;
    CURSOR: hand;
    FONT: 11px vardana;
    MARGIN: 0px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
.topnav
{
    BEHAVIOR: url(/EMEAGLOBAL/EMEACSS/topnav.htc)
}

.header_small
{
	font-family: Verdana;
	font-size: 9pt;
	color: black;
}
